:root {
    --site-main-bgcolor: #878b9c;
	--site-main-color: #fff;
        
    /* Loader color */
    --loader-bgcolor: #2f8bf3;
    --loader-bordercolor: #e9e9e9;

 /*Example usage:
 color: var(--loader-bgcolor);
 */	
}

html, body {
height:100%;
font-size:17px;
}

body 
{
margin:0;
background-color: #fff;
}

div.wrapper 
{
width: 99.9%;
min-height:100%;
margin:0 auto;	     
}	


div.content 
{
margin: 3px 4px 1px;
padding: 15px;
background-color: #ebebfa;
text-align:justify;
width: 100%;
min-height: 100%;
z-index: 0;
}

div.menu 
{	
position: fixed;
z-index: 1000; /* elements with higher index are displayed in front of elements with lower index */
width: 100%;
height: 35px;	
background-color: var(--site-main-bgcolor);
color: var(--site-main-color);;
margin: 0;
border-bottom: solid thin black;
padding:5px 0px 2px;
}

#left_menu_div {
float: left;
padding: 5px;
}

#right_menu_div, #right_menu_div2 {
float: right;
padding: 5px 0;
}

#right_menu_ul{
margin-top: -3px;
}

/* every li element whose parent is #right_menu_ul */
#right_menu_ul  > li  {
margin: 0 5px;
}


div.adjustdiv
{	
height:42px;
}
    

#footer 
{
width: 100%;
min-height:65px;
background-color: var(--site-main-bgcolor);
font-size:0.97em;
clear:both;
padding: 20px 0;
color: var(--site-main-color);;
}


div#dimmed_background {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 2000;
background-color: rgba(100, 102, 101, 0.8); /* 30% opacity */
display: none;
} /* use this with result_dialog_box */


/* child of #dimmed_background */
div#result_dialog_box
{
width: 480px;
height: 350px;
overflow: hidden;
background-color: #f4fffa;
border-radius: 13px;
border: 1px solid #499676;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

a
{
text-decoration:none;
color:#0000af;
font-family:Tahoma, Sans-Serif;
}

a:hover 
{
    color:#a14100;
}
    

div.menu a
{
    color: #fff;
    padding:0 4px 1px;
    margin-right:7px;
    margin-bottom:4px;
}



div.menu a:hover
{
background-color: #2189af;
}

div.menu li 
{
    float:left; 
	list-style-type:none;
}


/*---------Dropdown menu styling ----------------*/
div.menu li  .dropDownMenu
{
    display:none;
    position:absolute;
	z-index:210;
    margin:0;
}

div.menu li:hover > .dropDownMenu
{
    display:block;
}

div.menu li:hover > .dropDownMenu li
{
    float:none;
    font-size:0.8em; 
    margin-left: -100%;
	margin-top: -5px;
	margin-bottom: 0;
}

/* Links to My profile, Log out, etc */
div.menu li:hover > .dropDownMenu li a
{
background-color: #e3ecf9;
color: #000;
width: 170px;
padding: 6px 10px;
border: solid 1px #494d54;
display:block;       
}

/*Tooltip Arrow of dropDownMenu*/
.dropDownMenu ::after {
content: "";
position: absolute;
bottom: 103%;
left: 4%;
border-width: 8px;
border-style: solid;
border-color: transparent transparent #f0f0f5 transparent;
}

div.menu li:hover > .dropDownMenu li a:hover
{
    background-color: #a7c7f2; 
	color: #000;
       
} 
/*---------End-------Dropdown menu styling------------------ */




/*-------------Loader----(Spinning circle)----------- */
div.loaderBig , div.loaderSmall {
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
}

/* To use .loaderBig just add the following to where you want loader to show: 
<div class='loaderBig'></div> 
*/
div.loaderBig {
    width: 100px;
    height: 100px;
    border: 16px solid var(--loader-bordercolor);
    border-top: 16px solid var(--loader-bgcolor);
    border-bottom: 16px solid var(--loader-bgcolor);
}

div.loaderSmall {
    width: 20px;
    height: 20px;
    border: 4px solid var(--loader-bordercolor);
    border-top: 4px solid var(--loader-bgcolor);
    border-bottom: 4px solid var(--loader-bgcolor);
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*----End---------Loader--------------- */



/*-----------------paginate styles---------------------- */
.paginate_div
{
   text-align: center;
   font-family:Tahoma, Sans-Serif;
   font-size: 1em;
}

.paginate_div a
{
   background-color: #60d5f2;
   border: solid 1px #636768;
}

.paginate_div a:hover
{
   background-color: #aeedf9;
   cursor: pointer;
}

.paginate_selected
{
   background-color: #eaf8fc;
   border: solid 1px #636768;
}
/*----------end of paginate styles --------------------*/

    
		
	
@media only screen and (max-device-width: 60em) {

		html
		{
		font-size:100%;
		} 
		
		div.menu 
		{	
		position: static;
		min-height: 70px;	
		height:auto;
		}
		
		#left_menu_div {
		float: none;
		}
		
		/* Links to My profile, My pages, Log out, etc */
		div.menu li:hover > .dropDownMenu li a
		{
		width: 180px;
		padding: 13px 10px;
		}
		
		
		div.adjustdiv
		{	
			display:none;
		}
		
		
		div.content 
		{
		width: 97%;
		margin: 0;
		padding: 1.4%;			
		}
		
		div.rightpane
		{    
		min-width: 96%;
		margin: 0;
		margin-top: 5px;
		padding: 1.3%;
		float: left;
		}
		 
		
		div.menu a
		{
		margin-right:10px;

		}
		
	
}
	
	
	
@media only screen and (max-device-width: 13cm) {

	div#result_dialog_box {
	width: 96%;
	}

	

}

    
